<h1 id="notice"><font color = red><%= notice %></font></h1>
<h1>Index</h1>
<h2><a href="http://libadmin.jp/users">ユーザ一覧</a></h2>
<h2><a href="http://libadmin.jp/books">本一覧</a></h2>
<h2><a href="http://libadmin.jp/lends">貸出履歴</a></h2>
